.Rproj.user
.Rhistory
.RData
/DESCRIPTION~
*.R~
*~
vignettes/MultiAmplicon-real-world-example_cache/
/vignettes/MultiAmplicon-real-world-example.R

stratified_files
/vignettes/download_sra
/vignettes/filtered_sra
/vignettes/SRAmetadb.sqlite.gz
/vignettes/.build.timestamp
*_cache/*
vignettes/*_cache*
*_cache*
docs/articles/*_cache/
docs/articles/MultiAmplicon-real-world-example.Rmd
docs/articles/MultiAmplicon-small-example.Rmd
docs/articles/*.R
/SRAmetadb.sqlite
