.Rproj.user
.Rhistory
.RData
/DESCRIPTION~
*.R~
*~
MA_sorted.rda
docs/articles/*_cache/
*.sqlite
download/*
filtered/*
/vignettes/.build.timestamp
/vignettes/SRAmetadb.sqlite.gz
docs/articles/download/
docs/articles/filtered/
/inst/SRAmetadb.sqlite.gz
inst/doc/*
