.Rproj.user
.Rhistory
.RData
/DESCRIPTION~
*.R~
*~
MA_sorted.rda
docs/articles/*_cache/
*.sqlite
download/*
filtered/*
/vignettes/.build.timestamp
/vignettes/SRAmetadb.sqlite.gz
docs/articles/download/
docs/articles/filtered/
/vignettes/filtered/
*_cache/*
vignettes/*_cache*
*_cache*
vignettes/MultiAmplicon-real-world-example_cache/
/docs/articles/MultiAmplicon-real-world-example.R
/vignettes/MultiAmplicon-real-world-example.R
/docs/articles/MultiAmplicon-real-world-example.Rmd
/docs/articles/MultiAmplicon-small-example.Rmd
